.experience__btn--repo {
    width: 100%;
    height: 4rem;
    color: var(--cor-de-boton);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    border: 2px solid var(--cor-de-boton);
    background-color: transparent;
    transition: .3s ease all;
}