.skills__title {
    font-family: var(--tipografia-primaria);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .skills__title {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 1440px) {
    .skills__title {
        font-size: 1.5rem;
    }

}